@use 'variables/global.scss';
@use 'reset';
@use 'themes/normal.scss';
@use 'themes/dark.scss';

.app {
  font: var(--font-l);
  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}
