.app.light {
  --bg-color: rgb(255, 255, 255);
  --inverted-bg-color: rgb(0, 0, 0);

  --primary-color: rgb(12, 50, 121);
  --secondary-color: rgb(136, 141, 206);
  --inverted-primary-color: green;
  --inverted-secondary-color: rgb(112, 192, 112);
}
